.red{
	background-color: red;
}
.logincard{
	margin-top: 10%;
}

.loginform{
	margin-top: 10px;
}

.fullheight{
	height: 100% !important;
}
.listcontainer{
	margin-left: 0px;
}
.list-title-scholars{
	margin-left: 50px;
	padding-top: 20px;
}
.companylogo{
	padding-left: 20px;
}
.maincontainer{
	margin-left: 0px;

}
.announcement-card{
	padding: 3%;
}
.announcementcontainer{
	padding-top: 5%;
}
.message-custom{
	margin-top:100px;
}
.message-container{
	padding: 3%;
}
.custom-side-nav{
	margin-top: 64px;
}
.main-content{
	padding-left: 300px;
}
.an-message{
	height: 300px;
}
.sections-custom{
	min-height: 100vh;
}
.newsfeedcard{
	margin-top: 10px;
	margin-left: 5%;

	padding: 20px;
}
.fix-custom{
	position: fixed;
}
.scrollers{
	padding: 20px;
}
.body-custom::-webkit-scrollbar {
    display: none;
}
.body-custom::-webkit-scrollbar { width: 0 !important }
.signuplabel{
	margin-top: 20px;
}

@media only screen and (max-width : 992px)
{
      .main-content {
        padding-left: 0;
      }
			.custom-side-nav{
				margin-top: 0px;
			}
}
@media only screen and (max-width : 1366px)
{
      .main-content {
        padding-left: 200px;
      }

			.sidenav{
				width: 200px;
			}
}
.studentinfo-custom{
	padding-left: 30px;
	padding-top: 50px;
}
.section-two-about-contact{
	padding-top: 20px;
}

.input-message-bar{
	width: 100%;
	position: fixed;
	margin-top: 80vh;
	margin-left: 25px;

}
.chat-list{
	margin-left: 25px;
	margin-bottom: 35px;
}
